snippet bsform
	form.form-horizontal
		legend ${1}
		div.control-group
			label.control-label ${2}
			div.controls
				${3}
snippet bsformg
	div.control-group
		label.control-label ${1}
		div.controls
			${2}
